* {
    box-sizing: border-box;
  }
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("/assets/images/gravel.png");
    background-color: beige;
  }

  .wrapper{
      min-height: 100%
  }
  .container{
      max-width: 960px;
      width: 100%;
      padding-left: 0px;
  }
#masthead {
    max-width: 960px;
    position: fixed;
    width: 100%;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    overflow: auto;
    margin: 0 0 30px;

}

  #brand {
    float: left;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 90px;
    width: 350px;

    
  }
  img {
    float: left;
    margin: 20px 20px 5px 0;
}
nav a:first-child {
    clear: both;
    overflow: auto;
    border-left: 0 none;
    
  }

 .mContainer {
     
        width: 100%;
        max-width: 960px;
        padding: 30px;
       
        margin: auto auto 30px auto;
        background: #ffffff;
        border: 1px solid #dddddd;
       padding-top:200px;
 }

 h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;

  }

  footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  }
  .push {
      height:50px;
  }
/* contact*/
#contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  /* message box*/
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }
/* portfolio*/
.cat {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}
.cat:nth-child(even) {
  margin-right: 40px;
}
.cat h3 {
  position: absolute;
  bottom: 20px;
  width: 200px;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}